<footer class="text-center bg-body">
    <div class="container py-lg-2">
        <ul class="list-inline">
            <li class="list-inline-item me-4">
                <a class="link-body-emphasis" href="https://github.com/sergio-oliveira-br">GitHub</a>
            </li>

            <li class="list-inline-item me-4">
                <a class="link-body-emphasis" href="https://www.linkedin.com/in/sergio-oliveira-063613163/">Linkedin</a>
            </li>
        </ul>
        <p class="text-body mb-0"><strong>National College of Ireland - M.Sc. in Cloud Computing</strong></p>
        <p class="text-body mb-0"><strong>Sergio Vinicio da Silva Oliveira - x23170981@student.ncirl.ie</strong></p>
    </div>
</footer>