<div class="card text-center mb-3">
    <div class="card-header">
       Blockchain Validation Service
    </div>

    <div class="card-body">
        <h5 class="card-title">Autenticação Web3</h5>
        <p class="card-text">
            Connect your MetaMask wallet to validate transactions on the <strong>Sepolia</strong> network.
            This process is required to buy a voucher.
        </p>
        <button class="btn btn-outline-primary btn-lg px-4" id="connectButton" role="button">Connect Wallet</button>
    </div>

    <div class="card-footer text-body-secondary">
        <small>
            <span id="walletAddress" class="font-monospace">Waiting for Connection...</span>
        </small>
    </div>
</div>
