{% csrf_token %}

<div class="row row justify-content-center">
    <div class="col-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Voucher: {{ voucher.voucher_id }}</h5>
            </div>

            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6">
                        <small class="text-muted d-block">Description</small>
                        <strong>{{ voucher.voucher_description }}</strong>
                    </div>
                    <div class="col-6 text-end">
                        <small class="text-muted d-block">Price</small>
                        <strong class="text-primary">{{ voucher.voucher_price }} ETH</strong>
                    </div>
                </div>

                {% if voucher.voucher_status == 'Active' %}

                    <div class="d-grid gap-2">
                        <button type="button" id="buy_voucher"
                                data-price="{{ voucher.voucher_price }}"
                                data-id="{{ voucher.voucher_id }}"
                                class="btn btn-primary btn-lg">
                            Pay with MetaMask
                        </button>
                    </div>
                {% endif %}

                <hr>
                <h6 class="text-muted">Details</h6>
                Item selected:
                {{ voucher.voucher_id }}

                <br>

                Status:
                <strong>{{ voucher.voucher_status }}</strong>

                <br>

                <i class="bi bi-cpu"></i>
                Transaction:
                {% if voucher.voucher_tx_hash %}
                    <a href="https://sepolia.etherscan.io/tx/{{ voucher.voucher_tx_hash }}" target="_blank">Check on Etherscan</a>
                {% else %}
                    <span class="text-muted">Waiting for payment...</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>

    const statusAtual = "{{ voucher.voucher_status }}";

    if (statusAtual === 'Pending') {
        setTimeout(function() {
            location.reload();
        }, 5000);
    }

    if (statusAtual === 'Sold'){
        alert('Thanks for your patience! \nYour payment has been confirmed on ETH')
    }
</script>