{% extends 'base.html' %}

{% block title %} SafeTrade | Explore {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron p-5 mb-4 rounded-3 border bg-light shadow-sm">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h1 class="display-5 fw-bold text-dark">Get Your Vouchers</h1>
                    <p class="lead text-muted">Claim exclusive vouchers</p>

                    <ul class="list-unstyled">
                        <li class="">Sérgio Oliveira - x23170981@student.ncirl.ie</li>
                        <li><a class="bi bi-shield-lock"
                               href="https://app.swaggerhub.com/apis/student-c67-be7/api-safetrade-voucher/1.0.0">
                            API Consumer</a></li>

                        <li><br></li>

                        <li>External APIs </li>
                        <li><a href="https://heroic-nougat-c67308.netlify.app">Student | Generate QR Codes at Lightning Speed </a></li>
                        <li><a href="https://www.alchemy.com">Alchemy | Infrastructure that moves billions at scale</a></li>

                    </ul>


                    <ul class="list-unstyled text-muted pt-3 border-top border-secondary">
                        <li><i class="bi bi-shield-lock"></i>Continuous Assessment 1 (CA1) | Scalable Cloud Programming
                        </li>
                        <li><i class="bi bi-geo-alt"></i>National College of Ireland | MSCCLOUD</li>
                    </ul>


                    <div class="d-flex gap-2 mt-4">
                        <a class="btn btn-primary btn-lg px-4" href="{% url 'showroom' %}" role="button">Buy
                            Vouchers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}